In [78]:
import pandas as pd
import pymysql
import numpy as np

# Function to establish a MySQL connection
def connect_to_mysql():
    return pymysql.connect(
        host='localhost',  # Change this if your MySQL server is hosted elsewhere
        user='root',
        password='vabhi2004',
        database='it_project',
        charset='utf8mb4',
        cursorclass=pymysql.cursors.DictCursor
    )

# Function to read data from Excel, handle NaN values, and write to MySQL
def excel_to_mysql(excel_file, table_name):
    # Read Excel into pandas DataFrame
    df = pd.read_excel(excel_file)
    
    # Handle NaN values
    df = df.fillna('')  # Replace NaN values with an empty string or any other desired value
    
    # Establish MySQL connection
    connection = connect_to_mysql()
    
    try:
        with connection.cursor() as cursor:
            # Insert data into MySQL table
            for index, row in df.iterrows():
                placeholders = ', '.join(['%s'] * len(row))
                columns = ', '.join(row.keys())
                sql = f"INSERT INTO {table_name}  VALUES ({placeholders})"
                cursor.execute(sql, tuple(row))
        # Commit changes
        connection.commit()
        print("Data inserted successfully!")
        
    finally:
        # Close the connection
        connection.close()

# Example usage
excel_file = "C:\\Users\\V Abhiram\\OneDrive\\Desktop\\Book6.xlsx"
table_name = 'blue_lock'
excel_to_mysql(excel_file, table_name)

Data inserted successfully!